.row{
    display:flex;
    box-sizing: border-box;
}
.row:hover{
    background: #ccc;
}
.completed{
    color: #54718D;
    text-decoration: line-through;
}
.completed .total{
    color: #54718D;
}
div{
    padding: 5px 0;
}
.title{
    text-align: center;
    display: flex;
    width: 50%;
    padding:5px;
}
.price{
    text-align: center;
    width: 15%;
    padding:5px;
}
.total{
    text-align: center;
    width: 15%;
    font-weight: bolder;
    padding: 5px;
    color:#04EC94;
}
button{
    padding: .375rem .75rem;
    border: 1px solid #B41414;
    border-radius: .25rem;
    color: #B41414;
    transition: color .15s ease-in-out,
    background-color .15s ease-in-out;
    
}
